table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.actionButtonsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  padding: 15px 0;
}
